<div class="app-layout">

    <app-sidebar></app-sidebar>
  
    <main class="main-content">
      <header
      class="page-header"
      [style.--header-accent]="selectedJourney.accentColor"
      [style.--header-background]="selectedJourney.softBackground"
     >
      <p>☀️ Good afternoon, Ramiya</p>

      <div class="top-icons">
        <span>🔍</span>
        <span>🔔</span>
        <span class="profile-dot">R</span>
      </div>
    </header>
  
      <app-hero
      [journey]="selectedJourney"
      ></app-hero>
  
      <app-journey-grid
      [selectedJourney]="selectedJourney"
      (journeySelected)="onJourneySelected($event)"
      ></app-journey-grid>
  
      <app-continue-planning
      [journey]="selectedJourney"
      ></app-continue-planning>
  
      <section id="planning-session" class="lower-grid">
  
        <app-planning-session
         [journey]="selectedJourney" 
        ></app-planning-session>
  
        <app-stories></app-stories>
  
      </section>
  
    </main>
  
  </div>