<section class="stories-card">
    <div class="section-header">
      <p class="section-label">Your Stories</p>
      <a>View all</a>
    </div>
  
    <div class="story-list">
      <article>
        <div class="story-img peru"></div>
        <strong>Peru 2025</strong>
        <small>July</small>
        <p>Cusco • Machu Picchu • Lima</p>
      </article>
  
      <article>
        <div class="story-img india"></div>
        <strong>India 2026</strong>
        <small>Apr–May</small>
        <p>Mumbai • Andaman • Bhubaneswar • Meghalaya</p>
      </article>
  
      <article>
        <div class="story-img guatemala"></div>
        <strong>Guatemala 2026</strong>
        <small>July</small>
        <p>Antigua • Lake Atitlán • Tikal</p>
      </article>
    </div>
  </section>